html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

.left-div {
  min-width: 40vw;
  width: 40vw;
  display: flex;
  justify-content: center;
}

.right-div {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-div img {
  height: 100%;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  top: 400px;
  width: 40vw;
  height: 15vw;
  background: rgb(0, 0, 0, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: norse-bold, Arial, Helvetica, sans-serif;
  font-size: 10em;
}

.logo img {
  width: 15vw;
  height: 13vw;
}

.photoAttr {
  position: absolute;
  bottom: 10px;
}

.logo,
.photoAttr,
.photoAttr a {
  color: aliceblue;
}

.left-div,
.right-div {
  height: 100vh;
  flex: 0 1 auto;
}

.right-div > div {
  padding: 30px min(1000px, 15%) 30px 30px;
}

.headerDiv,
.accountDiv {
  background-color: rgb(230, 230, 230, 30%);
}

.headerDiv,
.accountDiv {
  height: 30%;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}

.headerDiv {
  justify-content: flex-end;
  font-size: clamp(10px, 2vw, 2em);
  font-weight: bold;
}

.headerDiv p:nth-child(1) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.headerDiv p:nth-child(2) {
  margin-top: 0;
  padding-top: 0;
}

.formDiv {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.innerDivForm {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.innerDivForm input {
  margin-bottom: 10px;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 10%);
}

.innerDivForm input:focus {
  border-color: rgb(34, 34, 245);
  box-shadow: 0.5px 0.5px 0.5px;
  outline: none;
}

.outerDivForm {
  display: flex;
  height: min(5vw, 60px);
  gap: 80px;
}

.errorMessage {
  color: red;
  font-size: 0.01em;
}

button[type="submit"] {
  width: min(230px, 40vw);
  background: #596d48;
  color: aliceblue;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 10px 10px;
}

.login {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}
